@{
    ViewBag.Title = "Index";
}

@section Breadcrumbs{
    <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
    <li class="breadcrumb-item active"><a href="#">Coleta de Produtos</a></li>
}

<h2>Solicitação de Coleta em Clientes</h2>
<hr>

<div class="form-horizontal">
    <h5>Filtros</h5>

    <hr />

    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label col-md-12" style="font-weight:bold;">Data Entrega Inicial:</label>
                <div class="col-md-10">
                    <input type="date" class="form-control" id="data-inicial-entrega" />
                </div>
            </div>

            <div class="col-md-6">
                <label class="control-label col-md-12" style="font-weight:bold;">Data Entrega Final:</label>
                <div class="col-md-10">
                    <input type="date" class="form-control" id="data-final-entrega" />
                </div>
            </div>
        </div>
    </div>

    <button id="atualizar-lista-coletas" type="button" class="btn btn-primary col-sm-12 col-md-3 col-lg-3" style="margin-bottom:16px;"><i class="fa fa-sync-alt"></i> Atualizar Lista de Coletas</button>

    <hr />

    <h5>Solicitações de Transporte</h5>

    <div id="painel-geral"></div>

    <div id="painel-paginacao"></div>
</div>

@section scripts{
    <script src="~/arquivosprojeto/js/paginas/SolicitacaoColetaIndex.js"></script>
}