@{
    ViewBag.Title = "Home Page";
}

@section Breadcrumbs{
    <li class="breadcrumb-item"><a href="#">Home</a></li>
}

<div class="jumbotron">
    <h1>Home do Sistema de Controle de Logística</h1>
</div>